.registro
{
    height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 1.3%;
}
.registro>.imagen_registro
{
    width: 40%;
    height:78%;
    border: dashed 2px #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 1%;
    position: relative;
}
.imagen_registro>i{
    font-size: 60px;
    color: var(--boton-aceptar);
}
.imagen_registro>button{
    position: absolute;
    border: none;
    background-color: var(--boton-cancelar);
    color: rgb(255, 255, 255);
    height: 11.4%;
    width: 100%;
    font-size: 18px;
    border-radius: 7px;
    bottom: -43px;
    cursor: pointer;
}

button:focus{
    outline: none;
}
.imagen_registro>button:hover,.imagen_registro:hover>button{
    background-color: var(--boton-cancelar-hover);
}
.registro>.info_registro
{
    width: 59%;
    margin-left: 1%;
    height: 89%;
    margin-top: 1%;
    
}
.info_registro>form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.info_registro>form>label{
    line-height: 30px;
    margin-bottom: 15px;
}

.info_registro>form>input,.info_registro>form>select{
    height: 30px;
    border: none;
    border-bottom: solid 1px #cccccc;
    font-size: 16px;
}
.info_registro>form>input:focus{
    outline: none;
}
.chico
{
    width:15%; 
    text-align:center;
}
.titulo h2{
    margin-top: 2px;
}
.titulo{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo hr{
    border: .5px solid #cccccc;
}
.info_registro>form>label>span{
    position: absolute;
    transform: translate(15px,0);
}
.info_registro>form>button{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: var(--boton-aceptar);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}
.info_registro>form>button:hover{
    background-color: var(--boton-aceptar-hover);
}
.info_registro>form{
    position: relative;
    height: 100%;
}
.imagen_registro>img{
    position: absolute;
    max-height: 290px;
    display: flex;
    text-align: center;
}
.imagen_registro{
    
    cursor: pointer;
}
.imagen_registro>i
{
    transition: all .3s ease;
}
.imagen_registro:hover>i{
    transform: scale(1.15);
}